body {
  background: #efecdf;
  font-family: sans-serif;
}

/* Hero */
.hero {
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navbar */
.navbar {
  margin-bottom: 200px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
}

.menu {
  font-size: 20px;
}

/* Sticker */
.sticker1 {
  position: absolute;
  top: 120px;
  left: 10px;
  transform: rotate(-20deg);
}

.sticker2 {
  position: absolute;
  top: -5px;
  right: -5px;
}

.sticker3 {
  position: absolute;
  top: 710px;
  left: -5px;
}

.sticker4 {
  position: absolute;
  top: 600px;
  right: 12px;
}

.sticker5 {
  position: absolute;
  top: 1020px;
  left: 10px;
  transform: rotate(-20deg);
}

.sticker6 {
  position: absolute;
  top: 1900px;
  right: 10px;
  transform: rotate(20deg);
}

.sticker7 {
  position: absolute;
  top: 950px;
  right: -4px;
}

.son {
  margin-bottom: 60px;
}

.feeling {
  position: absolute;
  top: 150px;
  right: 5px;
}

/* Button */
.cta-btn {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid #000;
  background: #c7e7ff;
  cursor: pointer;
  font-weight: bold;
}

/* Illustration Box */
.hero-box {
  margin-top: 25px;
  margin-bottom: 140px;
  height: 180px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.motion {
  background-color: #000;
  color: #fff;
  height: 50px;
  margin-left: 0px;
  text-align: center;
  font-size: x-large;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.senior {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.senior img {
  margin-top: 40px;
}

.label {
  position: absolute;
  top: -20px;
  font-size: 12px;
}

.motionText {  
  position: absolute;
  margin-top: 25px;
  transform: translateY(-50%);
  white-space: nowrap;
  left: -200px;
  animation: moveText 6s linear infinite;
}


@keyframes moveText {
    0% {
        left: -200%;
    }
    100% {
        left: 100%;
    }
}